.card {
    position: relative;
    width: 15em;
    height: 10%;
    background: rgb(33, 33, 33);
    background: linear-gradient(
      162deg,
      rgb(201, 154, 154) 0%,
      rgb(96, 146, 207) 100%
    );
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 0px solid rgba(23, 23, 23, 0.79);
    transition: all 0.1s linear;
    margin: 20px;
    margin-bottom: 100px;
    padding: 10%;
    color: white;
  }

.card-container {
    display: inline-flex;
}

.card{
    &:hover {
      filter: brightness(1.2);
      box-shadow: 0 0 4px white;
    }
  }
