.main-navBar{
  position: relative;
  height: 40%;
  width: 80%;
  font: 1em Arial;
  z-index: 1;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .25);
  margin:auto;
  padding: 2%;
  margin-top: 5%;
  display: flex;
  }

.main-navBar span {
  color: rgb(38, 59, 77);
  font-size: larger;
}

  .main-navBar::before {
    content: "";
    position: absolute;
    top: -8px; /* -blur */ 
    left: -8px; /* -blur */
    width: calc(100% + 16px); /* 100% + blur * 2 */
    height: calc(100% + 16px); /* 100% + blur * 2 */
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)); /* change color or image here */
    background-position: 50%;
    filter: blur(8px);
    z-index: -1;
}
.nav-bar{
    /* word-spacing: 40px; */
    font-size: 20px;
    font-family: arial;
  }
  
  .nav-bar ul li a{
    text-decoration: none;
    color: rgb(7, 3, 3);
    padding: 25px;
    margin: auto
  }
  
  .nav-bar ul li{
    display: inline-block;
    transition: border 1s, border-radius 1s, padding 1s, background-color 2s, color 1s;
    margin: auto;
    padding: 5px;
  }
  
  .nav-bar ul li:hover{
    border-bottom: 2px solid gray;
    border-radius: 10%;
    padding: 10px;
    background-color: #5b263131;
    color: white;
  }
  
  